export(cosmofont)
export(font_options)
export(google_font_options)
importFrom(base64enc,dataURI)
importFrom(httr,GET)
importFrom(httr,content)
importFrom(stringr,perl)
importFrom(stringr,str_extract)
importFrom(whisker,whisker.render)
